[2022-06-24 15:24] adarshakb commented on #417
@alexiglesias31 yep! We can ignore that plugin and recognize the other 2 if its not in use anymore, but we see data that people use it still. My be they are using older versions. Not sure.

[2022-06-24 15:26] adarshakb commented on #440
Thank you for the clarification @shivanarrthine . Had mistaken your comment. I am ok then :)

[2022-06-28 14:55] alexiglesias31 commented on #417
@jconroy

Perfect. Please ping me if there is any update.

@adarshakb

Probably they are referring to [this extension](https://woocommerce.com/products/softblues-pinterest-for-woocommerce/), seems there was a change in the brand name. In that case, we would need a copy of the extension to be able to detect it.

[2022-06-29 04:04] JessixBlade commented on #455
I had two issues related to this today:
zn-5334553
hc-35738513

[2022-06-29 04:11] findingsimple commented on #455
@JessixBlade  The fix above was included in https://github.com/woocommerce/pinterest-for-woocommerce/releases/tag/1.2.0 please get the customer to update

[2022-06-29 04:58] kuropixel commented on #455
Had one earlier this week. 35918639-hc.

[2022-06-29 07:03] findingsimple commented on #455
@kuropixel the fix was released yesterday

I don't think we need to keep capturing instances unless its confirmed the issue still exists after updating

[2022-06-29 07:19] kuropixel commented on #455
Thanks @jconroy! Someone had requested that I add it here, apologies!

[2022-06-30 02:47] darcie commented on #455
I can still see this after updating to 1.2 on two sites. Example:
<img width="1083" alt="Screenshot on 2022-06-29 at 19-45-10" src="https://user-images.githubusercontent.com/318285/176581819-a8cd2ef3-fc55-4f92-8036-9fef2e168372.png">

[2022-06-30 02:50] findingsimple commented on #455
@darcie that's correct - the noscript was moved from head to within the body

https://github.com/woocommerce/pinterest-for-woocommerce/pull/486

[2022-06-30 03:02] darcie commented on #455
@jconroy I get that it was moved, but the `\n\n\n` is still visible on the site.
I see now that's fixed in #489 and that's not released yet.

[2022-06-30 03:10] jconroy commented on #455
Ahhh that _looks_ like a (new) bug that was missed in the review I suspect - can you create a new issue. Is it actually breaking anything?

[2022-06-30 03:11] findingsimple commented on #455
👍

[2022-06-30 03:17] darcie commented on #455
I'm pretty sure it's just an appearance issue, but I believe all the recent reports in this are for `\n\n\n` rather than the original issue.

I used the Test Events feature on Pinterest's side and the tag is still tracking. Tag Helper says it's still working.
Applied the change from #489 and it looks right!

[2022-07-01 12:46] sajmes commented on #455
35955356-hc

This was on a site with 1.2.0

[2022-07-01 14:47] JPry commented on #455
@sajmes Please see #489, which hasn't been released yet. The original issue described in here has been resolved as of `1.2.0`.

[2022-07-01 14:49] #477 closed, assigned to alexiglesias31

[2022-07-04 11:47] findingsimple commented on #446
@JPry where are you at with this one?

([Just capturing another recent "no tag" issue](https://github.com/woocommerce/pinterest-for-woocommerce/issues/477) as possibly related)

[2022-07-04 11:52] findingsimple opened #491 "WooCommerce 6.8 Compatibility Testing"
WooCommerce 6.8 Release - August 9, 2022
WooCommerce 6.8 Beta - July 19, 2022

Perform smoke and compatibility testing to make sure the extension maintains compatibility with the upcoming release.

Fix any issues identified.

Confirm with Woo team that we can update tested up to tags

[2022-07-04 11:56] findingsimple commented on #476
@ChristianAF So are you saying the error reported “2022-06-08T15:10:15+00:00 ERROR Sorry! We couldn't find that merchant. Please ensure you have access and a valid merchant id.” doesn't match what is happening  "claim a site when it's already claimed on Pinterest" ?

I'm just going to note again - "Can we please try to include some of the issue template information to maintain high-quality issue/r

[2022-07-04 12:01] findingsimple commented on #417
Interesting, I was aware. That does look to be it

[2022-07-04 12:08] findingsimple commented on #417
@alexiglesias31 we have some updated designs - [in the project figma](https://www.figma.com/file/ojzkxOhHQnIZx4QjsFH5Zy/Native-Pinterest-Integration?node-id=3239%3A41991).

![new_catalog-1](https://user-images.githubusercontent.com/355014/177151925-27d554e7-79f9-4d29-8a6a-23c2b39faee2.png)

![new_onboarding-2](https://user-images.githubusercontent.com/355014/177151943-69bb2c44-8de3-4470-a5f0-1d143

[2022-07-04 12:10] findingsimple commented on #417
Depending on how big the dev gets on this feature please consider creating a feature branch and splitting up work into smaller PRS for review

[2022-07-04 12:23] findingsimple commented on #372
@alexiglesias31 I was waiting to see what eventuated with the [discussion here](https://github.com/woocommerce/pinterest-for-woocommerce/pull/468#issuecomment-1150752357)

[2022-07-05 02:16] adarshakb commented on #446
Adding info from Slack thread by @niketpins

a) some websites are behind login e.g. [the-falcon.net/ladiva_staging](http://the-falcon.net/ladiva_staging) because of which we may not be able to verify from metatag or filename
b) Rest of the domains which are failing, both metatag and html file are missing for those. My guess is init_plugin is invoked before verification_data is set https://saucal.s

[2022-07-05 20:56] JPry commented on #446
@adarshakb

Can you provide more details from that conversation? I don't have access to that Slack instance.

[2022-07-05 21:39] adarshakb commented on #446
Currently domain verification code is injected on init_pluginhttps://github.com/woocommerce/pinterest-for-woocommerce/blob/develop/class-pinterest-for-woocommerce.php#L246 and maybe_inject_verification_code method requires verification_data to inject otherwise skips.
When does init_plugin  invoked?
Is there a possibility that init_plugin  is invoked and verification_data is not set and hence code

[2022-07-05 21:41] adarshakb commented on #446
Separate question do we remove injected code after domain verification is complete or it stays there

[2022-07-07 01:17] findingsimple commented on #457
@alexiglesias31 @ChristianAF it was mentioned in slack this may be closed - could you please confirm then close when you get a moment?

[2022-07-07 01:28] findingsimple commented on #372
@alexiglesias31 can you please confirm that even though we have dropped support for Subscriptions the core issue here "Product attributes Condition and Google Category fields can only be added to Simple/variable products" will still be present for other product types?

If that's the case then we need to look at [discussion here](https://github.com/woocommerce/pinterest-for-woocommerce/pull/468#iss

[2022-07-07 01:33] findingsimple commented on #426
Set to on-hold while we [wait for changes on the Pinterest side](https://github.com/woocommerce/pinterest-for-woocommerce/issues/426#issuecomment-1161885670)

[2022-07-07 01:37] findingsimple commented on #440
Depending on how big the dev gets on this feature please consider creating a feature branch and splitting up work into smaller PRS for review

[2022-07-07 01:46] findingsimple commented on #410
I think the remaining element of this issue is investigating [if we need additional checks for failed orders](https://github.com/woocommerce/pinterest-for-woocommerce/issues/410#issuecomment-1078644333).

[2022-07-07 01:52] findingsimple commented on #362
@adarshakb I was curious if your team has a recommendation for how to detect if the browser plugin exists or if there is an API to detect the the existence of the browser plugin etc.

[2022-07-07 03:28] JohnnyCYu opened #492 "Show a warning if a merchant's website is behind password and unreachable"
## User story

### Is your feature request related to a problem?
Currently there is no warning if a merchant's website is behind password and unreachable, as part of the merchant verification process

#### How to reproduce the problem

### Describe the solution you'd like
We should show a warning if a merchant's website is behind password and unreachable.

## Technical
Please discuss with Adarsha

[2022-07-07 03:49] JohnnyCYu opened #493 "Provide the merchant metrics to support PINS WooCommerce Ad Credits targeting feature"
To grow the PINS plug-in adoption, PINS plans to implement and run Ad Credits targeting feature in 2H 2022. PINS team would require to access these metrics (and possibly more as the program progress) in the following doc. For full details, please review Adarsha's design doc - https://docs.google.com/document/d/1nwmAyXWG7cQsNwyQehs4h-2Fn59bkNY7KV_45h6hLuc/edit

Once we've reached the alignment, we

[2022-07-07 05:06] findingsimple commented on #385
I will update with links to designs and text in the next day. They are complete - just waiting for final confirmation of no feedback.

Would recommend developing using a feature branch with smaller PRs for review.

[2022-07-08 14:27] alexiglesias31 commented on #446
`init_plugin` is hooked on `plugins_loaded` and the verification data stays there after domain verification is complete.

[2022-07-11 11:21] findingsimple commented on #481
@alexiglesias31  is there an update on this? 6.7 will be released on the 12th and we need to make sure the extension is compatible

[2022-07-11 12:42] alexiglesias31 commented on #481
@jconroy we are checking a couple of issues to verify that are not related to 6.7 version. Will post an update later today.

[2022-07-12 02:54] findingsimple commented on #481
Thanks @alexiglesias31  Any update?

[2022-07-12 16:05] alexiglesias31 opened #494 "Feed register error if the merchant has another feed registered"
### Describe the bug:
The feed registration is not working properly when a merchant has another feed already registered on the Business account.

### Steps to reproduce:
1. Install the plugin and do the onboarding on one site (site A).
2. Install the plugin and do the onboarding on another site (site B).
3. There is only one feed registered in the Pinterest business account (site A).
4. The feed s

[2022-07-12 16:19] dieherbar commented on #481
hey @jconroy the issues we found are not related to the compatibility between pinterest plugin and woocommerce v.6.7

[2022-07-12 18:06] ecgan commented on #481
@alexiglesias31 @dieherbar , so does this mean that this Pinterest plugin is compatible with WooCommerce 6.7? Can you confirm the following that we can update the "tested up to" tags?

https://github.com/woocommerce/pinterest-for-woocommerce/blob/942f7e0d6590c8b7dbeb67be85a9689a28f87648/pinterest-for-woocommerce.php#L29

If yes, then Woo team shall make a release to bump the version number from 6.

[2022-07-14 16:25] alexiglesias31 commented on #372
@jconroy

We are hiding the Condition and Google Category Tab on [Subscriptions products](https://github.com/woocommerce/pinterest-for-woocommerce/blob/942f7e0d6590c8b7dbeb67be85a9689a28f87648/src/Admin/Product/Attributes/AttributesTab.php#L196).

The Condition and Google Category field will be present on the  [supported types](https://github.com/woocommerce/pinterest-for-woocommerce/blob/942f7e0d

[2022-07-15 18:22] JohnnyCYu opened #497 "Access request to grant a translator's account to merge uploaded translation"
## User story

Pinterest would like to apply for a translator's account, so we can approve uploaded translations ourself.

Based on the information on [make.wordpress.org](https://make.wordpress.org/polyglots/handbook/translating/teams/#roles-in-the-polyglots-team), it looks like we need a Cross-Locale Project Translation Editor (CLPTE). Requests are made to the Polyglots team on wordpress.org by

[2022-07-19 16:59] dieherbar commented on #417
hi @jconroy hope you're doing fine.
I've got 2 comments about this task.
1- To properly verify this fix we need you to provide us a valid plugin licence for pixelyoursite - pinterest addon
2- Premmerce plugin will be part of a future PR

If you have any comments please let us know, thank you!

[2022-07-21 18:42] alexiglesias31 commented on #440
Hey @jconroy, just a small question here.

Since we will sync only the `Enhanced match support` setting. Would it be worth to include the sync button in the Tracking section?

![image](https://user-images.githubusercontent.com/40774170/180289418-286ad484-7623-45ad-9b63-042b06e142da.png)

[2022-07-22 07:19] findingsimple commented on #440
@shivanarrthine do you have any thoughts on @alexiglesias31 's question?

[2022-07-25 12:41] shivanarrthine commented on #440
@jconroy @alexiglesias31 I think it might be worth keeping at the top since it happens on page load and it could scale better if we decide to fetch settings for other options in the future.

But maybe instead of disabling all the fields while waiting for it to fetch & load the latest setting, we could just disable the Enhanced match one?

[2022-07-26 20:12] ivanrios opened #500 "Partner Connect Failed - Investigate Duplicated calls to Connect merchant API"
Error message:
  Partner connect failed with exception " Merchant has already connected to other platform"

<img width="948" alt="Screen Shot 2022-07-25 at 18 27 58" src="https://user-images.githubusercontent.com/1007705/181102289-683d8010-abef-4ba9-94f8-fa56067601a7.png">

 This error was generated 75k times in the last 2 weeks

[2022-07-26 20:42] ivanrios opened #501 "Partner Connect Failed - "Connect Merchant" API endpoint is called repeatedly every 10 minutes with same params"
**API route**
/v3/catalogs/partner/connect/

**Error:**
Partner connect failed with exception Sorry! ghazalparis.com has already been claimed by another user.

<img width="999" alt="Screen Shot 2022-07-26 at 15 18 39" src="https://user-images.githubusercontent.com/1007705/181108078-191d1613-eae8-477a-96c3-2d6050cba991.png">

[2022-07-26 20:59] JohnnyCYu commented on #497
From Pins team, we've created this account to be used as our translator account:

1) Translator Test Account ID: cloudjy0718
2) Domain: https://wordpress.com/home/cars626030388.wordpress.com

[2022-07-26 21:55] #493 closed, assigned to nobody

[2022-07-26 22:01] adarshakb commented on #501
Expected result: we shouldnt call the API repeatedly. We should show alert to user that website is already claimed and ask them to disconnect there. Then they can disconnect/reconnect woocommerce plugin

[2022-07-26 22:02] adarshakb commented on #500
Expected result: we shouldnt call the API repeatedly. We should show alert to user that website is already claimed and ask them to disconnect there. Then they can disconnect/reconnect woocommerce plugin

[2022-07-28 17:24] adarshakb commented on #411
@jconroy - The previous discussion here was as long as its a real $0 order it is fine, but not for other ways. Lets update this bug based on that assumption

[2022-07-29 13:39] dieherbar commented on #481
hi @ecgan sorry for the delay in responding.
The answer is yes, according to our tests, pinterest plugin is compatible with WooCommerce 6.7

[2022-08-02 20:58] JPry opened #502 "Add banner asking for review if the extension is running correctly"
## User story

Many users don't leave reviews unless they are dissatisfied with the extension, which means the reviews are disproportionally negative. Assuming that the extension is configured correctly and working as expected, we should use a dismissible admin notice to prompt users to leave a review.

## Technical

Before showing a notice, we should evaluate things like:

1. Whether the extensio

[2022-08-02 21:25] JPry opened #503 "Prompt users to share additional log data during onboarding"
## User story

When users encounter problems with their product feed, it would be beneficial for troubleshooting to share logs with Pinterest. During the onboarding process, we should prompt for user permission to share log data with Pinterest, similar to how WooCommerce itself asks for permission to send usage data.

## Technical

Pinterest has an API for sharing log data, which is what should be

[2022-08-03 03:56] findingsimple commented on #500
Noting that possibly similar/related solution needed for https://github.com/woocommerce/pinterest-for-woocommerce/issues/501

[2022-08-03 04:03] findingsimple opened #504 "WooCommerce 6.9 Compatibility Testing"
WooCommerce 6.9 Release - September 13, 2022
WooCommerce 6.9 Beta - August 23, 2022

Perform smoke and compatibility testing to make sure the extension maintains compatibility with the upcoming release.

Fix any issues identified.

Confirm with Woo team that we can update tested up to tags

[2022-08-03 04:04] findingsimple commented on #481
We're quite late now so we may as well pick this up with the 6.8 testing

[2022-08-03 04:04] #481 closed, assigned to nobody

[2022-08-03 04:09] findingsimple commented on #476
@alexiglesias31 @ChristianAF can you provide an update on this issue?

I can see in @alexiglesias31 [comment here](https://github.com/woocommerce/pinterest-for-woocommerce/issues/476#issuecomment-1162242136) that the error message is "We were unable to claim the domain...has already been claimed by another user" but @ChristianAF you are saying you are seeing "“2022-06-08T15:10:15+00:00 ERROR Sorry

[2022-08-03 04:13] findingsimple commented on #372
I think that makes sense, @JPry do you concur? I believe this is how we handle it in other extensions.

[2022-08-03 04:19] findingsimple commented on #494
@adarshakb can you refresh my memory, I seem to recall we only support connecting 1 site?

[2022-08-03 04:24] findingsimple commented on #492
From a design perspective we'll likely just take a similar approach to https://github.com/woocommerce/pinterest-for-woocommerce/issues/417

But we'll need to align on wording

@adarshakb can PINS take the first pass at wording here?

@adarshakb do we get an API response from any requests indicating the site isn't reachable by Pinterest? I think it will be more fool proof and easier to maintain if

[2022-08-08 15:37] ChristianAF opened #508 "Subscription products that are "Out of stock" are included on feed when the hide out of stock products option is not checked on WooCommerce"
### Describe the bug:
If the option "Out of stock visibility" is not checked, and there are Subscription products out of stock, they will appear on the feed.
Woo option on "/wp-admin/admin.php?page=wc-settings&tab=products&section=inventory"
<img width="603" alt="image" src="https://user-images.githubusercontent.com/43881685/183456156-89b294ef-5848-42d0-9445-be4ef3119704.png">

Feed:
[pinterest-fo

[2022-08-09 13:15] dieherbar commented on #491
Compatibility tests finished and passed. No issues were found.

[2022-08-09 13:23] #491 closed, assigned to nobody

[2022-08-09 13:42] findingsimple commented on #385
Figma: https://href.li/?https://www.figma.com/file/ojzkxOhHQnIZx4QjsFH5Zy/Native-Pinterest-Integration?node-id=3052%3A35818

Prototype: https://href.li/?https://www.figma.com/proto/ojzkxOhHQnIZx4QjsFH5Zy/Native-Pinterest-Integration?page-id=2929%3A32327&node-id=3052%3A35818&viewport=155%2C503%2C0.04&scaling=scale-down&starting-point-node-id=3052%3A35705

[2022-08-10 23:31] ivanrios commented on #492
This is the error we receive when website validation fails, either because the site is unreachable or behind an authorization restriction.

_[Status - Message]_
**503 -  7 seconds: /v3/websites/verification/metatag/realtime/ didn't finish after 7 seconds**

--------------

These are the additional possible errors trough the website validation.

Validation:

- 403 - Your website is in the process o

[2022-08-11 00:33] findingsimple commented on #492
Thanks @ivanrios ! 🤔

[2022-08-12 00:25] findingsimple opened #510 "Review and Improve difficult to translate strings"
### Describe the bug:
There are a few locations within the codebase where a sentence is split up making it difficult for translators to see appropriate context. From the translations tea...

Example https://github.com/woocommerce/pinterest-for-woocommerce/blob/ff9d7ac7f9eab7d45e234ac920eb0dd45fb0cb0b/assets/source/setup-guide/app/steps/SetupTracking.js#L352-L392

I am aware this is extremely diffi

[2022-08-12 14:52] dieherbar opened #511 "Save Pinterest button available without finishing onboarding"
### Describe the bug:
On the front-end the "Save to Pinterest" button is visible on products despite the plugin onboarding is not finished.

### Steps to reproduce:
1. Install Pinterest for WooCommerce plugin
2. Start the onboarding process
3. Instead of a business account use a personal account to receive a warning message and stop onboarding process
4. Navigate to the site shop front-end
5. Hove

[2022-08-16 19:34] adarshakb commented on #494
Yes you are correct @jconroy

[2022-08-17 11:48] findingsimple opened #513 "Ads Credit Flow: Landing Page Updates"
_Work In Progress Issue_

### User story

As a product manager
I want to incentivize Merchants to set up Pinterest for WooCommerce
So that they have the motivation to start and finish onboarding

As a merchant
I want to be incentivized to set up Pinterest for WooCommerce
So that I am willing to spend my valuable time/money starting and finishing onboarding

### Description

Update the current exte

[2022-08-17 11:58] findingsimple opened #514 "Ads Credit Flow: Feature Flag"
_Work In Progress Issue_

### User story

As a product manager
I want to be able to disable/enable Ads credit flow/functionality within Pinterest for WooCommerce
So that Ads Credits are only offered when they are available

As a merchant
I want to be offered Ads Credit only when it s available
So that I am not confused or falsely incentivized

### Description

WooCommerce.com will provide XXXXXX A

[2022-08-17 12:06] findingsimple opened #515 "Ads Credit Flow: Onboarding Eligibility Notice"
_Work In Progress Issue_

## User story

As a product manager
I want to incentivize Merchants to continue setting up Pinterest for WooCommerce
So that they have the motivation to finish onboarding

As a merchant
I want to be incentivized to complete set up of Pinterest for WooCommerce
So that I am willing to continue to spend my valuable time/money finishing onboarding

### Description

We would l

[2022-08-17 12:17] findingsimple opened #516 "Ads Credit Flow: Billing Check and Redemption of Ads Credit"
## User story

As a product manager
I want to ensure Merchants set up billing in Pinterest
So that they can redeem Ads Credits

As a merchant
I want to be prompted and directed to set up billing in Pinterest
So that onboarding is as seamless as possible and so that I can begin advertising

## Description

After Merchant has completed onboarding and is considered "connected".

* [Check to see if th

[2022-08-17 12:19] findingsimple opened #517 "Ads Credit Flow: Inbox Notification/s"
_Work In Progress Issue_

## User story

As a product manager
I want to incentivize Merchants to continue setting up Pinterest for WooCommerce
So that they have the motivation to finish onboarding

As a merchant
I want to be reminded and incentivized to complete setup of Pinterest for WooCommerce
So that I benefit from the addition reach for my products

## Description

Create the following inbox

[2022-08-17 12:20] findingsimple opened #518 "Ads Credit Flow: Display available credit and prompt to set up ads campaign"
### Describe the solution you'd like

Below the Catalog Overview, add a new component that prompts merchants to create ads on Pinterest and links through to Pinterest to do so

The component will also show the amount of free credit the merchant has left to use

If the merchant has not setup billing details - simply display a "Create ads to increase your message...." message

![Create Ads - none](h

[2022-08-17 16:35] alexiglesias31 commented on #501
@ivanrios  Could you please provide the steps to reproduce this issue?

From my understanding of the picture, the error indicates that the domain is already claimed by another Pinterest business account.
The onboarding should be blocked on step 2 for such cases.
![image](https://user-images.githubusercontent.com/40774170/185192676-f66d4b4c-669b-4a19-8036-36263d4814c7.png)

Not sure if this issue c

[2022-08-17 17:04] alexiglesias31 commented on #500
There is an error displayed to the user on that case.
![image](https://user-images.githubusercontent.com/40774170/185199129-d5516293-4307-4275-82de-6fea15e32190.png)

The call to the `partner/connect/` endpoint happens when the plugin tries to register the feed, which should happen every 10min.
@ivanrios could you please provide some steps to reproduce this issue, to be sure that nothing is missed

[2022-08-17 17:07] alexiglesias31 commented on #494
Perfect. I think the solution here should be to display a warning message to the user informing that the merchant has already registered a different feed. What do you think @jconroy @adarshakb?
Just updated the issue description to reflect that.

[2022-08-17 22:04] adarshakb commented on #494
@alexiglesias31 correct. We will update the API to return a new error code in that scenario and update

[2022-08-17 22:51] adarshakb commented on #494
@alexiglesias31 we should block the user from connecting account in the Site B when they are already connected to Site A. So this should happen in Step 1 of the setup process

[2022-08-23 06:13] findingsimple opened #520 "PHP 8 Compatibility"
We've had a report internally after running a PHP 8 compatibility that the follow warnings and errors are being flagged.

[code]

Can this be investigated and confirmed if we have any potential issues or if it is a false positive?

[2022-08-23 14:21] #511 closed, assigned to alexiglesias31

[2022-08-23 16:43] alexiglesias31 commented on #494
Got it @adarshakb. Perhaps the API can return the error when the user connects the plugin to the Pinterest account. That way we can add an error notice on the Step and block the onboarding process.
Looking forward to your feedback with the error code, will make progress in the mean time setting up the notice, etc.

[2022-08-23 16:55] alexiglesias31 commented on #385
@jconroy @adarshakb, just want to jump in to clarify a couple of details.

- Will AEM be enabled by default as displayed on [designs](https://www.figma.com/file/ojzkxOhHQnIZx4QjsFH5Zy/Native-Pinterest-Integration?node-id=3052%3A35818)?
- Email, name, phone number, etc. are options under AEM. Are we getting this info from the checkout customer data?
- Is the AEM setting on the plugin readonly or sh

[2022-08-23 21:01] JPry commented on #372
This makes sense to me as well.

[2022-08-23 21:19] #50 closed

[2022-08-25 10:58] findingsimple commented on #514
The API requires authentication so can't be used like a  true feature flag as intended

[2022-08-25 13:40] ChristianAF opened #521 "Duplicate meta tags when RankMath Meta also used"
### Describe the bug:
For example when mercahnts also use the plugin "RankMath SEO" most of the meta tags that Pinterest plugins creates are:

meta property=”og:url” - Also created by RankMath
meta property=”og:site_name” - Also created by RankMath
meta property=”og:title” - Also created by RankMath
meta property=”og:type” - Also created by RankMath
meta property=”og:image” - Also created by RankM

[2022-08-25 13:46] ChristianAF commented on #521
I think this issue is duplicated #417

[2022-08-25 13:51] ChristianAF commented on #378
@jconroy here is a bad review: https://wordpress.org/support/topic/not-a-happy-experience/
The second point is related to this issue. I think that is not the only Merchant that has lots of products, and they have to edit all of them 1 by 1.  Would be great to have a bulk edit or as she mention, or kind of inherit from some other place. (think the bulk edit is the best one.

[2022-08-25 19:07] ChristianAF commented on #304
WooCommerce.com Request Number 269168
SauCal ticket: https://saucal.zendesk.com/agent/tickets/10505

@jconroy is there any plan to approach this feature?

[2022-08-26 02:42] findingsimple commented on #304
Not prioritised - please just keep collecting requests. We have other work I've assigned to y'all to do first

[2022-08-26 02:45] findingsimple commented on #378
Thanks for adding. We're designing an attribute mapping feature for a different product that we may be able to port here.

Bulk attribute editing etc. Is part of a larger refresh across Woo for product editing experience - not sure when we'd look at it.

Please keep collecting feedback here.

[2022-08-26 02:47] findingsimple commented on #521
Agree, I've moved this to a compatibility issue to look at adding RankMath as an extension to look for

[2022-08-26 10:19] #415 closed, assigned to nobody

[2022-08-26 13:44] #417 closed, assigned to alexiglesias31

[2022-08-26 13:51] alexiglesias31 opened #522 "Improve logic around feed state messages"
## User story
As mentioned in PR #495, we can improve the logic around feed state messages in order to avoid rendering HTML elements in PHP.
This issue can be considered a follow up of [this comment](https://github.com/woocommerce/pinterest-for-woocommerce/pull/495#pullrequestreview-1086862386).

### Describe the solution you'd like
We need to rewrite the logic around the feed state messages in or

[2022-08-26 20:59] ricardoaiello opened #523 "Test issue"
This isn't a real issue. It's only intended to validate that our workflows are functioning properly, and will be removed after that.

[2022-08-26 21:14] ricardoaiello opened #524 "Testing issues workflow"
Test issue. Will be removed soon.

[2022-08-30 08:16] budzanowski opened #527 "Ads Credit Flow: billing_data endpoint method"
## User story

As a developer, I want to pull data from the billing_data to understand if billing is set up for the merchant.

As a merchant
I want to be prompted and directed to set up billing in Pinterest

## Description

PR for the feature request should implement a method for pulling data with billing information from Pinterest API.

## Technical

Endpoint:

[code]

The billing validation endp

[2022-08-30 08:26] budzanowski opened #528 "Ads Credit Flow: campaigns endpoint method"
## User story

As a developer, I want to pull data from the campaigns endpoint to see if there are any active credit campaigns for the partner & user

As a merchant
I want to be informed that there are campaigns available for me.

## Description

PR for the feature request should implement a method for pulling data with active campaign information from Pinterest API.

## Technical

Endpoint:

[cod

[2022-08-30 18:15] JohnnyCYu commented on #497
I've received CLPTE account access as of late last week. Greatly appreciate Jason's help to point us toward CLPTE direction.

[2022-08-30 18:15] #497 closed, assigned to nobody

[2022-08-31 09:47] alexiglesias31 commented on #517
@jconroy just added the needs design flag, since most of the description is TBC. Please let me know if I'm missing something here.

[2022-08-31 10:21] findingsimple commented on #517
Hey @alexiglesias31 yep thanks all good, I'm waiting on confirmation from product and design

[2022-08-31 10:39] findingsimple opened #529 "Ads Credit Flow: discounts endpoint method"
## User story

As a developer, I want to pull data from the discounts endpoint to get the amount of credit a merchant has available

As a merchant
I want to be able to see how much free credit I have left to use for advertising

## Description

PR for the feature request should implement a method for pulling data from Pinterest API.

## Technical

Endpoint:

[code]

Please use the [feature/ads-cre

[2022-08-31 10:44] findingsimple commented on #529
`remaining_discount_in_micro_currency` property can be used to get total credit left

`offer_code` property in theory can be used to determine if the credit for Woo - however merchants should generally only have one offer available to them at most times

[2022-08-31 11:08] findingsimple opened #530 "Ads Credit Flow: eligibility & redemption endpoint method"
## User story

As a developer,
I want to check if the merchant is eligible for a credit coupon and if so redeem it

## Description

PR for the feature request should implement a method for interacting with the Pinterest API.

## Flow chart

![Woocommerce ads credit](https://user-images.githubusercontent.com/355014/187665053-31cb2b45-ebc8-4b99-a12e-44ab041f9d15.jpg)

## Technical

Endpoint:

[code]

[2022-08-31 12:23] findingsimple opened #531 "Ads Credit Flow: Background Check"
### Describe the solution you'd like

In cases where a merchant has not setup billing or is in the process of setting up billing and closed the modal we should check on a regular basis to see if the billing is setup and redeem any available credit

![Catalog](https://user-images.githubusercontent.com/355014/187677079-18fac3ad-8780-49d1-af55-69b91f9eb115.png)

## Technical

* Check for billing setu

[2022-09-02 19:08] ChristianAF commented on #457
Yes, this could be close. The merchant didn't write back to us again.

[2022-09-02 19:10] ChristianAF commented on #304
WooCommerce.com Request Number 271103
SauCal ticket: https://saucal.zendesk.com/agent/tickets/10589

[2022-09-05 18:29] #457 closed, assigned to alexiglesias31

[2022-09-07 20:17] adarshakb commented on #494
Capturing slack conversation details.

Currently create commerce partner endpoint will block if the user is trying to update feed URL with a different domain. This API fix will serve as a proxy to block the above bug's usecase. However the UI us going to make a GET call earlier to determine the failure and show better error message to customer.

[2022-09-07 20:19] adarshakb commented on #385
For new customers it can be enabled by default. Please ensure legal terms and conditions are linked correctly. Johnny Yu from pinterest should be able to help with that

It should ideally be read only for v1 as there are many edgecases and the customer can be linked to their pinterest account to disable/enable it.

[2022-09-07 20:55] JohnnyCYu opened #534 "Missing 3 supported languages of translation on WooCommerce's Pinterest Plug-in product webpage"
### Describe the bug:
WooCommerce's Pinterest Plug-in product page webpage offers several supported languages for localization, but only Spanish and French pages are fully translated. The other languages are either partially translated or not been translated at all. (E.g. Brazilian, German, and Italian). Here is a sample webpage URL to Italian - https://woocommerce.com/it-it/products/pinterest-for

[2022-09-08 08:55] budzanowski opened #535 "Ads Credit Flow: Landing Page Update Details"
### Info

This is a supplement to #513.
Originally the #513 should also be concretised with proper copy link and image. For now they are placeholders. To unblock further development we move development of those items here. PR implementing #513 ( #525 ) can be merged.

Missing elements, currently present as placeholders, ( copy from #513 ):

- [x] Terms and conditions link
- [x] Image
- [x] Copy
-

[2022-09-08 08:58] #513 closed, assigned to alexiglesias31

[2022-09-08 09:43] #527 closed, assigned to alexiglesias31

[2022-09-08 18:19] #530 closed, assigned to budzanowski

[2022-09-09 04:26] #529 closed, assigned to budzanowski

[2022-09-09 15:57] trinadin opened #539 "Rich Pins Feature not stripping HTML"
### Describe the bug:

The “Add Rich Pins for Products” setting in Pinterest for WooCommerce does not appear to be stripping HTML from og:description on line 174 of /pinterest-for-woocommerce/src/RichPins.php.

When Jetpack implements a similar feature, they use jetpack_og_get_description  which basically does a trim, strip_shortcodes, wp_strip_all_tags, etc. That’s on line 479 of /jetpack/functio

[2022-09-12 02:18] findingsimple commented on #539
Thanks @trinadin

[2022-09-12 11:29] budzanowski opened #541 "Use billing profile endpoint for billing profile."
It was suggested the we should use `/partners/billing_profile` instead of `billing_data` endpoint.

### Story
As a developer I want to be able to check if the users advertiser account has a correct billing setup.

As a merchant I want to be informed if there is a problem with my billing setup.

### Details
The following endpoint should be used for obtaining the billing information:

`advertisers/{

[2022-09-12 15:56] ivanrios commented on #426
@alexiglesias31  Just to confirm, the endpoint currently allows partners to obtain the list of countries.

![Screen Shot 2022-09-12 at 10 52 29](https://user-images.githubusercontent.com/1007705/189700153-4401022e-15a1-4c3a-bed4-b754a786b9f4.png)

[2022-09-13 14:35] ChristianAF opened #543 "Exclude Composite products from feed."
### Describe the bug:
Merchant selling composite product:

### Steps to reproduce:

1. install the plugin WooCommerce Composite Products
2. create a composite product with single components
3. Regenerate feed

### Expected behavior:
Composite product to be excluded from feed

### Actual behavior:
Composite products are not exculed

[2022-09-13 21:29] findingsimple commented on #535
On hold for confirmation of final copy/designs

[2022-09-14 18:17] obregon08 commented on #378
**Workaround while this feature is developed and deployed**

Before running any queries, remember to backup your db: `mysqldump -u yourdbuser -p yourdbpassword yourdbname > backup.sql`

**Set `google_product_category` to  "Business & Industrial" for all products**
[code]

**Set condition to "new" for all products**
[code]

**Set condition to "new" for all product variations**
[code]

[2022-09-14 19:38] alexiglesias31 opened #544 "The sale price in the feed is wrong when the price exclude taxes"
### Describe the bug:

The sale price property on the feed has a wrong value if the WooCommerce option of displaying prices excludes taxes.

While working on the task we spotted another issue, the regular price on the feed was the same than sale price (for products on sale), already solved in this PR.

### Steps to reproduce:
1. Install the plugin and do the onboarding,
2. Set the WooCommerce opti

[2022-09-14 19:39] alexiglesias31 commented on #544
@jconroy this issue was spotted following up a CS ticket.

[2022-09-15 00:06] findingsimple commented on #544
Thanks added to the list of to-dos

[2022-09-15 13:15] ChristianAF opened #546 "Filter the Warnings and Errors retuned by Pinterest on the Catalog tab"
## User story
Some Merchants have lots of products (800k for example) and in some cases they have 1000k warnings and 100k errors.
<img width="1201" alt="image" src="https://user-images.githubusercontent.com/43881685/190412198-bda88a85-c748-4487-b3de-7f1642320eed.png">

When Merchant wants to fix them, they have to find all the products with errors on all the pages. An easy way to do it would be fi

[2022-09-16 03:44] #363 closed, assigned to nobody

[2022-09-16 18:59] alexiglesias31 opened #548 "Tweak add to cart tracking event on AJAX"
### Describe the bug:

There are some customers complaining about the add to cart tracked event on single product pages using AJAX. The plugin is not reading properly the product properties (id, value, quantity).
There is margin for an enhancement on the logic around add to cart AJAX hook.

### Steps to reproduce:
1. Install the plugin.
2. Add a product to the cart from the single product page wit

[2022-09-16 20:40] dieherbar commented on #504
No issues found between WooCommerce v6.9.2 and Pinterest for WooCommerce  v 1.2.2
![2022-09-16_11-54-52](https://user-images.githubusercontent.com/37819277/190729106-86d139ae-897a-4a18-8c58-f43f6473b4d3.png)

@jconroy this task can be closed.

[2022-09-19 16:21] budzanowski opened #550 "Ads credit post onboarding modals."
After user has completed the setup and lands on the settings page he should be shown one of the following modals:

If billing setup is detected:
<img width="1484" alt="image" src="https://user-images.githubusercontent.com/17271089/191064459-be0d5a34-09e2-4645-a940-53e8e5a5d574.png">

If billing setup is not detected:
<img width="1484" alt="image" src="https://user-images.githubusercontent.com/1727

[2022-09-19 17:17] #541 closed, assigned to budzanowski

[2022-09-19 17:40] budzanowski opened #552 "Ads Credit Flow: coupon redeem enpoint"
## User story

As a developer, I want to redeem a coupon for a user.

## Description

PR for the feature request should implement a method for redeeming an offer coupon.

## Technical

Add two flavours of the endpoint. One that redeems the coupon and one that only validates the coupon (

Endpoint:

[code]
## Acceptance criteria

[2022-09-19 17:40] #552 closed, assigned to budzanowski

[2022-09-19 17:50] budzanowski opened #553 "Ads Credit Flow, suplement to 531, eligibility and redeem"
This is a supplementary Issue to #531

In #531 we have been asking for:

* Check for billing setup once every 24 hours
* If billing is setup, check eligibility and redeem credit
* Catalog overview page will update to reflect whether credit is redeem as per figma designs and https://github.com/woocommerce/pinterest-for-woocommerce/issues/516

The two last bullet points will not be handled in #531 f

[2022-09-19 17:50] budzanowski commented on #531
- If billing is setup, check eligibility and redeem credit
is now handled in:
https://github.com/woocommerce/pinterest-for-woocommerce/issues/553

[2022-09-19 17:52] budzanowski opened #554 "Ads Credit Flow, suplement to 531, catalog overview page"
This is a supplementary Issue to #531

In #531 we have been asking for:

* Check for billing setup once every 24 hours
* If billing is setup, check eligibility and redeem credit
* Catalog overview page will update to reflect whether credit is redeem as per figma designs and https://github.com/woocommerce/pinterest-for-woocommerce/issues/516

The two last bullet points will not be handled in #531 f

[2022-09-19 17:53] budzanowski commented on #531
- Catalog overview page will update to reflect whether credit is redeem as per figma designs and https://github.com/woocommerce/pinterest-for-woocommerce/issues/516
is now handled in:
https://github.com/woocommerce/pinterest-for-woocommerce/issues/554

[2022-09-19 17:54] budzanowski commented on #528
For now it looks like campaigns will not be a part of the design.

[2022-09-19 17:54] #528 closed, assigned to nobody

[2022-09-20 04:09] findingsimple commented on #548
@alexiglesias31 can you include some more details about this when you get a chance?

We have other issues/prs like https://github.com/woocommerce/pinterest-for-woocommerce/issues/27  https://github.com/woocommerce/pinterest-for-woocommerce/pull/428 and I'd be interested to clarify how they inter-relate

[2022-09-20 04:29] findingsimple commented on #518
Added details about the `/ads/v4/advertisers/{$advertiser_id}/discounts` endpoint and same response to the main issue description

[2022-09-20 04:57] findingsimple commented on #550
Updated the link that can be used for billing and added some links to prior art within GLA for modals/guides and app buttons

[2022-09-20 05:35] findingsimple opened #555 "Ads Credit Flow: Campaign Method"
## User story

As a developer,
I want an easy method to check if there is a coupon/campaign for a merchants base currency
To help with procedures like checking if the offer should be shown or checking eligibility

### Description

Pinterest will provide the following mappings of codes/campaigns that can be used

We are going to end up with a list of codes like `{ code/campaign : id }`

`{ asd123da

[2022-09-20 08:48] alexiglesias31 commented on #548
@jconroy the customers were using third party plugins like [this](https://wordpress.org/plugins/woo-ajax-add-to-cart/), which allows to add products to the cart from the single product page using AJAX.

[2022-09-20 12:03] budzanowski commented on #550
@alexiglesias31 I have merged the banner svg graphics into `feature/ads-credit-flow` branch under:
`pinterest-for-woocommerce/assets/images/gift_banner.svg`;

[2022-09-21 08:52] budzanowski commented on #535
Updated designs:
<img width="558" alt="image" src="https://user-images.githubusercontent.com/17271089/191460258-2ab7be3d-dcbb-4d40-b9e8-7d5af8071d37.png">

<img width="703" alt="image" src="https://user-images.githubusercontent.com/17271089/191460341-089d9ae0-97cf-4201-a38b-fa83eeba951a.png">

[2022-09-21 13:47] #535 closed, assigned to budzanowski

[2022-09-21 17:19] alexiglesias31 commented on #550
@jconroy @budzanowski
A question related to this task. The open modal should be opened only the first time that user lands on the Catalog page? Or every X seconds?

This got my confused.

If you prefer we can handle this in a separate PR tho, and we can let this PR handling the modal component and the tracking events.

[2022-09-21 17:33] budzanowski commented on #550
@alexiglesias31 I will let @jconroy answer that - I also don't fully understand 😕

Lets just add modals here and they should open each time user lands in catalog. This should unblock you. The exact rules we will do in a separate Issue/PR.

[2022-09-21 17:34] alexiglesias31 commented on #550
Thank you @budzanowski, that's exactly what I was asking :blush:

[2022-09-21 17:55] ColdRealms commented on #548
As one of the affected users, I would be happy to add any details that you might need. For example. I have tested on a variety of AJAX add to cart plugins including the one listed above, YITH's AJAX Cart, and the CART All In One Cart plugin from villatheme along with a few I cannot remember (didn't like the styling anyway).
Simply switching off the ajax function allows the tag to fire correctly. U

[2022-09-22 08:57] budzanowski opened #558 "Test"
@budzanowski

[2022-09-22 10:02] #558 closed, assigned to nobody

[2022-09-22 10:03] budzanowski commented on #515
Latest design.

<img width="522" alt="image" src="https://user-images.githubusercontent.com/17271089/191719826-f5cdabc0-d34d-4048-b212-d9db219c12e9.png">

[2022-09-22 12:21] #531 closed, assigned to alexiglesias31

[2022-09-22 12:26] budzanowski opened #559 "Ads Credit Flow, onboarding modals rules."
### Information
While working on Issue #550 in PR #557 we have discovered that we don't fully understand and have not decided on the rules that will govern when the onboarding modals will be show.
For reference: https://github.com/woocommerce/pinterest-for-woocommerce/issues/550#issuecomment-1254003920

Once billing is setup, check eligibility and redeem
Automatically close modal and display succe

[2022-09-22 12:26] budzanowski commented on #550
Remaining work will be tracked in #559

[2022-09-22 12:26] #550 closed, assigned to alexiglesias31

[2022-09-22 15:01] alexiglesias31 commented on #543
@jconroy
Based on the decision on the last comment [here](https://github.com/woocommerce/pinterest-for-woocommerce/pull/496), if we decide to only support some product types by default and make that condition extensible by the user then we  will can close this issue too.

[2022-09-22 15:04] alexiglesias31 commented on #515
@budzanowski, please confirm if we can close this issue as a result of the PR #526.

[2022-09-22 15:07] budzanowski commented on #515
Yep.

[2022-09-23 08:19] budzanowski commented on #543
The #496 is the ultimate solution that we will implement. Until that will be done the user can use the following snippet to block the Composite products from the feed file generation:

[code]
The following information can be added to the response:

You can also inform the customer that we are working on more holistic solution that would not require a snippet - but it is unclear when it will be ava

[2022-09-23 08:19] #543 closed, assigned to budzanowski

[2022-09-23 09:09] budzanowski commented on #520
I have seen that warning before. In php-encryption the author checks for `mbstring` substitutions that could break his code.
He does not actually want to use it if it is not enforced by PHP `ini` fonfiguration.
[code]
On any newer PHP the  `\extension_loaded('mbstring') && \ini_get('mbstring.func_overload')` will evaluate to `false`.

This is a false positive.

[2022-09-23 09:09] #520 closed, assigned to budzanowski

[2022-09-23 17:26] #515 closed, assigned to alexiglesias31

[2022-09-26 14:27] ChristianAF opened #563 "When merchant's feed take more than 24hs to generate, the feed is never updated or created."
### Describe the bug:
This happens when merchants have more than 800k products and variants. After 24h the previous execution didn't finish and start the new one, so this creates an endless loop.

### Steps to reproduce:
1. Site with 800k products
2. install and do the onboarding with the Pinterest plugin

### Expected behavior:
New execution of feed generation should not be executed until the las

[2022-09-26 15:07] alexiglesias31 commented on #476
Closing this issue, since the customer didn't replied again. If the issue arises again at some point we can reopen it or create a new one with a more clear description.

[2022-09-26 15:07] #476 closed, assigned to alexiglesias31

[2022-09-27 05:56] findingsimple commented on #559
[Figma link](https://www.figma.com/file/ojzkxOhHQnIZx4QjsFH5Zy/Native-Pinterest-Integration?node-id=3417%3A56425) just for reference

Note - designs are based on "auto redemption" - so if billing setup is detected - the extension is to auto try to redeem/claim available credit. Modals are displayed based on billing + redemption states.

So there are 4 general situations

* If the feature is disabl

[2022-09-27 06:03] findingsimple commented on #563
Thanks @ChristianAF we'll discuss and update how we want to handle

To confirm is this based more on the length of time (24 hour) it takes or number of products e.g. if we add 800k products and it takes less than 24 hours is it still a problem?

[2022-09-27 06:12] findingsimple commented on #550
The way I presented in my [original issue](https://github.com/woocommerce/pinterest-for-woocommerce/issues/516) before it was split possibly makes a little more sense then above

* If billing setup is not detected display relevant modal
* Link the merchant to [https://ads.pinterest.com/advertiser/{advertiser_id}/billing/](https://ads.pinterest.com/advertiser/%7Bavertiser_id%7D/billing/) in a new w

[2022-09-27 09:18] #553 closed, assigned to alexiglesias31

[2022-09-27 16:24] ChristianAF commented on #563
@jconroy Is a matter of time IMO. if Merchants have 800k products or more but take less than 24h to create the feed, this will not be a problem.

[2022-09-28 09:58] budzanowski opened #566 "Ads Credit Post onboarding modal when feature is disabled."
When user finishes the onboarding wizard and the ads credit feature is not present he should be greeted with the following modal:

<img width="1113" alt="image" src="https://user-images.githubusercontent.com/17271089/192793939-617fea57-57d6-4a1e-b90e-af6ce489aeb9.png">

[2022-09-28 20:09] #566 closed, assigned to budzanowski

[2022-09-29 10:30] budzanowski opened #568 "Show redeem errors modals."
<img width="952" alt="image" src="https://user-images.githubusercontent.com/17271089/193007998-dbc20ae7-5d7e-49ab-9a1b-0c91d6d5baac.png">

The offer is only available once for each user. When the merchant wants to redeeme the code second time ( fresh integration connection ) the redeem API informs us that the offer has already been used. In this case we should show the modal ^

<img width="876" al

[2022-09-29 10:32] budzanowski opened #569 "Show generic ads credit error redeem modal."
<img width="1084" alt="image" src="https://user-images.githubusercontent.com/17271089/193008690-e64e3d32-52d9-41a7-9097-52463e01653b.png">

When there is an error during the redeem process and we don't know the nature of it we should show a generic error message ^

[2022-09-29 10:57] #554 closed, assigned to alexiglesias31

[2022-09-29 12:19] budzanowski commented on #514
I am closing this one. The Plugin part is done. And the PR for woocommerce.com part is ready https://github.com/Automattic/woocommerce.com/pull/14549

[2022-09-29 12:19] #514 closed, assigned to budzanowski

[2022-09-29 12:24] budzanowski opened #570 "Redeem Credits post onboarding."
After user finishes the onboarding wizard we want to immediately redeem the credit offer in case all of the conditions are met.
This can be done right after billing check.

The cyclic redeem check is already running in the background and it was introduced in https://github.com/woocommerce/pinterest-for-woocommerce/pull/562

- store API errors

[2022-09-29 13:00] budzanowski opened #571 "Ads credit cupon class implementation."
We need to implement a class that does two things:

1. Storing of the coupons codes.
2. Allow retrieval of code/codes.

The codes storage should be mapped to currencies or countries for which the codes are available.

The retrieval of code should check if the current merchant setup allows for redeeming of ads credits. If everything is fine, return the code. If there is configuration block ( no ads

[2022-09-29 13:01] budzanowski opened #572 "Expand the gating functionality with Ads Countries, Currency and available credits coupons check."
Currently the gating functionality introduced in [Ads Credit Flow: Feature Flag](https://github.com/woocommerce/pinterest-for-woocommerce/issues/514) only checks if the coupon campaign is globally available. We should expand this functionality to also verify if the merchant is in Ads supported countries and if there are coupons available for his set currency.

This depends on https://github.com/wo

[2022-09-29 14:45] #571 closed, assigned to budzanowski

[2022-09-29 14:45] #555 closed, assigned to budzanowski

[2022-09-29 15:01] budzanowski opened #574 "Ads credit user switch behaviour."
This is an exploratory issue: Verify what happens when the merchant disconnects and connects again to a different account. Create a plan needed changes or just implement any necessary adjustments if they are needed.

The merchant should be able to switch to another account and claim credits again ( if Pinterest API allows for it ).
Current implementation will block this bc the Modals and notices a

[2022-09-30 05:38] #504 closed, assigned to nobody

[2022-09-30 05:40] findingsimple opened #575 "WooCommerce 7.0 Compatibility Testing"
Beta - September 20, 2022
RC - October 4, 2022
Release - October 11, 2022

Perform smoke and compatibility testing to make sure the extension maintains compatibility with the upcoming release.

Fix any issues identified.

Confirm with Woo team that we can update tested up to tags

[2022-09-30 20:41] budzanowski opened #577 "Ads Credit: connect gating functionality to Ads Credit UI elements."
When a merchant uses Pinterest plugin with Ads feature they should not see the ads nudges and banners if the gating functionality detects that the ads campaign is not possible for current merchant. For example the start screen should not show the ads message for merchants form outside ads allowed countries:

<img width="865" alt="image" src="https://user-images.githubusercontent.com/17271089/19335

[2022-09-30 20:46] #572 closed, assigned to budzanowski

[2022-09-30 20:48] #559 closed, assigned to budzanowski

[2022-10-01 03:48] #516 closed, assigned to alexiglesias31

[2022-10-01 20:22] budzanowski opened #578 "Ads Credit, track coupon redeem flow."
Coupon redeem operation should be tracked.

Investigate the best place for coupon redeem action tracking and the format of tracking.
We want minimal info, we just want to check if the users are actually getting value from this flow.

[2022-10-02 05:54] #570 closed, assigned to budzanowski

[2022-10-02 20:33] #569 closed, assigned to budzanowski

[2022-10-03 06:44] #568 closed, assigned to budzanowski

[2022-10-03 17:38] #518 closed, assigned to budzanowski

[2022-10-03 17:59] budzanowski opened #584 "Ads credit, plugin update behaviour."
Investigate and implement how the code should behave when this is deployed on merchant site as a plugin update and not fresh setup. Things to consider:

- modals display behaviour
- redemption behaviour ( will cyclic check be OK or we should maybe try to do the setup during update procedure )
- everything else that comes to mind.

[2022-10-04 20:30] #544 closed, assigned to alexiglesias31

[2022-10-04 21:52] findingsimple commented on #517
Closing - inbox notifications haven't been aligned on for marketing

[2022-10-04 21:52] #517 closed, assigned to nobody

[2022-10-05 08:33] budzanowski opened #585 "Ads Credit, use real coupons for redeem action."
When we will receive the real coupons, add them to the code instead of the test ones.
Use encrypted parameter for the redemption as the coupons will be encrypted.

[2022-10-05 09:09] #585 closed, assigned to budzanowski

[2022-10-05 17:57] alexiglesias31 commented on #577
@budzanowski, just double checking

Are you referring to the info that is returned in the variable `adsCampaignIsActive` or anything else?

[2022-10-05 18:38] budzanowski commented on #577
Yep. Basically:

[code]

[2022-10-06 08:56] budzanowski opened #588 "Ads credits, check for available credits even if campaign is not active."
Right now checking if user has available credits for spending in Ads is tied to the redeem operation.

The credits check should be decoupled and the available credits should be checked and displayed even if redeem operation was not successful or the Ads Campaign global switch is disabled.

We don't want the available credits UI element to disappear just because we disabled ads campaign.

[2022-10-06 08:58] budzanowski commented on #577
@alexiglesias31 I have added a related Issue [Ads credits, check for available credits even if campaign is not active. #588](https://github.com/woocommerce/pinterest-for-woocommerce/issues/588) The display of available credits - if they exist -should not be disabled when `ads_campaign_is_active`.

[2022-10-06 21:24] dieherbar commented on #575
Hi @jconroy no issues found between Pinterest plugin Version 1.2.2 and woocommerce.7.0.0-rc.2
![2022-10-06_12-33-47](https://user-images.githubusercontent.com/37819277/194421302-975352da-6578-4851-9690-df53fb92b131.png)

[2022-10-10 04:08] #539 closed, assigned to alexiglesias31

[2022-10-10 04:24] #588 closed, assigned to alexiglesias31

[2022-10-10 11:08] #577 closed, assigned to alexiglesias31

[2022-10-10 18:01] #574 closed, assigned to alexiglesias31

[2022-10-11 17:45] ChristianAF opened #594 "Prevent fatal error when pinterest plugin options are corrupted on wp-options"
### Describe the bug:
Merchant's review: https://wordpress.org/support/topic/no-way-to-set-up/

report a fatal error:
`2022-09-13T18:21:10+00:00 CRITICAL Uncaught Error: Unsupported operand types in /var/www/html/wp-content/plugins/pinterest-for-woocommerce/src/TrackerSnapshot.php:88
Stack trace:
#0 /var/www/html/wp-content/plugins/pinterest-for-woocommerce/src/TrackerSnapshot.php(61): Automattic\

[2022-10-12 11:22] #584 closed, assigned to alexiglesias31

[2022-10-12 19:19] adarshakb opened #595 "The links should open in a new window for T&S"
### Describe the bug:
![Screen Shot 2022-10-12 at 12 15 19 PM](https://user-images.githubusercontent.com/1510328/195429259-326ce7ed-c880-4d71-8063-d2da00ac4de8.png)

### Steps to reproduce:

1. Goto onboarding step and click on Terms and conditions
2. The model opens.

### Expected behavior:
The links in model should open in a new window

### Actual behavior:
The links in model opens in same windo

[2022-10-12 19:25] adarshakb opened #596 "The campaign promo was only show in the first step of onboarding flow"
### Describe the bug:
![Screen Shot 2022-10-12 at 12 21 57 PM](https://user-images.githubusercontent.com/1510328/195430249-1c8ec05a-a7e4-40c7-91d9-109a7fed64ae.png)
![Screen Shot 2022-10-12 at 12 21 40 PM](https://user-images.githubusercontent.com/1510328/195430251-998953c7-dbe8-49d8-a70e-648f30584651.png)

### Steps to reproduce:

1. Open the onboarding flow with campaign turned on
2. Connect an

[2022-10-12 20:22] adarshakb opened #597 "The user is shown Ads credit is added but actually it is not added"
### Describe the bug:
![Screen Shot 2022-10-12 at 1 18 37 PM](https://user-images.githubusercontent.com/1510328/195439873-45d33dfc-4a4b-4e27-b1be-6731b2083e7b.png)
![Screen Shot 2022-10-12 at 1 17 46 PM](https://user-images.githubusercontent.com/1510328/195439881-57befcc3-ad52-4ac6-b08f-0133925175e7.png)
![Screen Shot 2022-10-12 at 1 17 36 PM](https://user-images.githubusercontent.com/1510328/1954

[2022-10-12 20:28] adarshakb opened #598 "Gack when activating the plugin"
### Describe the bug:
<img width="958" alt="image" src="https://user-images.githubusercontent.com/1510328/195440683-1e8cdd92-3e75-4378-819a-862125a9d58d.png">

https://user-images.githubusercontent.com/1510328/195441389-e6f69d6a-6883-4322-915a-56e58ba8328e.mp4

### Steps to reproduce:

1. install and activate the plugin https://github.com/woocommerce/pinterest-for-woocommerce/files/9764563/pintere

[2022-10-12 20:31] adarshakb commented on #597
![Screen Shot 2022-10-12 at 12 26 00 PM](https://user-images.githubusercontent.com/1510328/195441943-45c41fee-d060-4c72-a0cf-6ee60f50c2aa.png)

[2022-10-12 20:32] adarshakb commented on #597
https://clinical-willet.jurassic.ninja/wp-admin/admin.php?page=wc-admin&path=%2Fpinterest%2Fcatalog

[2022-10-13 03:03] ivanrios opened #599 "The plugin does not detect the billing configuration and does not trigger ad credits claim"
The plugin does not detect (even refreshing the page) that the user completes the billing setup on Pinterest and the offer code cannot be claimed.

It only works if I disconnect and connect and set up again.

### Steps to reproduce:
1. Connect and set up a Pinterest account (with no billing profile)
2. On the catalog tab, the banner "To claim the credits, add your billing information" appears.
3.

[2022-10-13 03:16] findingsimple commented on #599
Hi @ivanrios  - are you running this in a Jurassic ninja site? Can you share the details in slack? I'd like to make sure the Cron job  and events are setup correctly.

At the moment there is a daily events being setup
* [handle_billing_setup_check](https://github.com/woocommerce/pinterest-for-woocommerce/pull/551/files#diff-15c52da0801c164ddb71084ae436cdc5509676e0e192c3c57263d7136cc9cd40R28)
* [ha

[2022-10-13 03:20] findingsimple commented on #599
@budzanowski did we look at

[mentioned in this issue](https://github.com/woocommerce/pinterest-for-woocommerce/issues/516)

[2022-10-13 07:11] budzanowski commented on #595
@adarshakb that was a design decision, hmm.

[2022-10-13 08:26] budzanowski commented on #599
@jconroy We need a more aggressive way to check billing status change after user clicks the add your billing details button. Setup checking every refresh for the first hour after user has clicked button ( until it has been found that the billing has been set up ), later check every hour.

If the user ads billing using different route ( not through our button ) we have no way to detect this.

This

[2022-10-13 08:27] budzanowski commented on #595
I have asked @shivanarrthine for input.

[2022-10-13 08:33] budzanowski commented on #598
The error suggest that there was some corruption in the account_data option.

Was this a completely fresh install or there was Pinterest plugin installed before on this site?

[2022-10-13 08:36] budzanowski commented on #596
Oh, how could I have missed that!

[2022-10-13 08:45] shivanarrthine commented on #595
Yes, clicking on a link within the modal should open the link in a new tab/window. Similar to the current behavior with other links on the onboarding wizard flow.

[2022-10-13 08:59] budzanowski commented on #595
Sorry!
I have misread the issue. For a second I thought that the modal should be opened in a new window - which made no sense.
yes, the links inside the modal should open a new tab.

[2022-10-13 13:27] #595 closed, assigned to budzanowski

[2022-10-13 13:29] #578 closed, assigned to alexiglesias31

[2022-10-13 15:38] ecgan commented on #411
This issue was investigated by @ibndawood, and discussed with @jconroy in pb0Spc-3i8-p2. It seems like this is a non-issue. Closing this.

[2022-10-13 15:38] #411 closed, assigned to nobody

[2022-10-13 19:18] ivanrios commented on #599
I agree with @budzanowski, I think we should check Ads Credit validations for an hour after login on Pinterest (for new users), also for billing button or "Add billing details" link in the banner.

[2022-10-13 19:30] ivanrios commented on #599
I have not claimed the credits yet, I discarded the modal last night and nothing has changed.

It is confusing from a user point of view and will cause problems at a functionality level because you Pinterest will not be able to track all campaigns spent as the user has no "future credits" claimed.

Banner with billing confirmation (I had to reconnect the account to see it)
![banner](https://user-i

[2022-10-13 19:42] budzanowski commented on #599
I think that at this stage you should have something in the Promotions. Assuming that your account is set-up correctly the coupon should be there. For some reason it was not redeemed.

Please enable debug logging and reconnect. It should catch the redeem API call.

[2022-10-13 21:52] ivanrios commented on #599
No claim request, this is the log for reconnection.

[log.txt](https://github.com/woocommerce/pinterest-for-woocommerce/files/9780909/log.txt)

[2022-10-13 21:55] ivanrios commented on #599
At this point I think the account is in the same situation as

https://github.com/woocommerce/pinterest-for-woocommerce/issues/597

But I had to reconnect manually in order to view Ads modal and banner changes

[2022-10-14 01:21] findingsimple commented on #599
So change is adding a check on page refresh correct? Then a check every hour.

@ivanrios can you confirm those timings are ok. Adarsha has flagged previously we don't want to check too often as it can create a lot of noise in your logging etc.

[2022-10-14 19:32] ivanrios commented on #598
For the original report, the plugin failed the first time, then I tried to uninstall and install again but it was not possible.

Just to test, I deleted the plugin (on a different site) and installed it again and I get the same error.

[2022-10-14 19:59] budzanowski commented on #598
I think that I have found what is going on. The fix should be simple.

[2022-10-14 19:59] adarshakb commented on #599
@jconroy - We can check on every refresh. That should be ok. Unless the user is spamming, I dont anticipate too many calls. That makes the logic simpler.

This is true for background tasks which check every 10mins. We should exponentially backoff for background tasks which run automatically

[2022-10-15 00:40] adarshakb opened #601 "Donot count inactive coupon values while showing ads credit"
### Describe the bug:
![Screen Shot 2022-10-14 at 5 34 42 PM](https://user-images.githubusercontent.com/1510328/195960985-0db6bc79-3aec-4775-a835-3bef33b17467.png)
![Screen Shot 2022-10-14 at 5 34 35 PM](https://user-images.githubusercontent.com/1510328/195960988-457a1f40-9feb-452a-839e-fdcdf9804cd1.png)

### Steps to reproduce:

1. If user's credit is inactive or expired and not redeemed, dont co

[2022-10-15 04:47] #598 closed, assigned to budzanowski

[2022-10-16 22:15] #596 closed, assigned to budzanowski

[2022-10-17 10:19] alexiglesias31 commented on #426
@jconroy, can we remove the on-hold for this task?

[2022-10-17 14:01] budzanowski opened #604 "WooCommerce 7.1 Compatibility Testing."
- WooCommerce 7.1 is scheduled for release on November 8th, 2022
- Beta Release on October 18th, 2022
- Release Candidate (Planned) November 1st, 2022

Perform smoke and compatibility testing to make sure the extension maintains compatibility with the upcoming release.

Fix any issues identified.

Confirm with Woo team that we can update tested up to tags

[2022-10-17 23:03] #575 closed, assigned to nobody

[2022-10-19 07:34] #601 closed, assigned to alexiglesias31

[2022-10-19 19:32] ivanrios opened #607 "User with multiple advertisers is not notified when already redeemed the offer (with different advertiser)."
### Describe the error:
When a user claims the offer code with Advertiser A, and then connects to another store with Advertiser B, the plugin is displaying the eligible modal screen, and displays the banner to wait 24hrs until the code is ready.

### Steps to reproduce:
Create 2 Pinterest advertisers with the same user.
2. Connect to an advertiser and redeem the offer code.
3.  Disconnect.
4.  Con

[2022-10-20 03:46] #599 closed, assigned to budzanowski

[2022-10-20 08:25] budzanowski opened #608 "Ads Credit, take all coupons into consideration."
When a merchant has multiple active credits we should take all of them into consideration:

- loop over each active coupon
- sum available credits value.

[2022-10-20 08:34] #608 closed, assigned to budzanowski

[2022-10-20 23:57] budzanowski opened #611 "Ads Credits, future and marketing offer discounts available at the same time."
A merchant may have different coupons/discounts available at the same time.
Application should correctly display the UI elements for each combination of available discounts.

In case that both future credits ( related to the plugin coupon ) value is present and there are already discounts with available credits the following two UI elements should be displayed at the same time:
![image](https://us

[2022-10-21 09:19] budzanowski commented on #597
Closed in favour of #611

[2022-10-21 09:19] #597 closed, assigned to alexiglesias31

[2022-10-22 15:56] #611 closed, assigned to alexiglesias31

[2022-10-25 11:14] alexiglesias31 commented on #426
@ivanrios I tested again and got the same error:

`{"status":"failure","code":3,"data":null,"message":"Authorization failed.","endpoint_name":"get_advertiser_countries_handler","error":{"message":"None"}}`

[2022-10-25 11:55] alexiglesias31 commented on #494
@adarshakb @jconroy

The new API error message blocks the feed registration when a merchant connects a second site.
![image](https://user-images.githubusercontent.com/40774170/197765831-d80356c6-7d7d-49f4-865b-cb1721b69e6f.png)

The merchant_id is only available either on the Step 3 (select advertiser) or after the setup is complete.
@adarshakb, Is there any endpoint to get the list of feeds on an

[2022-10-28 16:24] #607 closed, assigned to budzanowski

[2022-10-28 20:05] ivanrios opened #616 "The Ads Credit Banner still appearing after you dismiss it, you need to Refresh the page to stop seeing it."
### Describe the bug:
If you close the banner and switch tabs the banner is shown again, you have to refresh the page to see that the banner is gone.
### Steps to reproduce:
1. Go to the catalog page and discard the banner with the "x"
2. You will see that the banner disappears.
3.  Switch to the configuration tab
4. Switch back to the Catalog tab and you will see the banner again.

### Expected b

[2022-10-28 20:15] ivanrios opened #617 "The banner "Spend $15 to claim 125 Pinterest ad credits..." is displayed after switching to an Advertiser with an unsupported country."
### Describe the error:
If you connect to an advertiser with an unsupported country (for the ad campaign), you will see the modal with the correct error message but the banner is still on the Catalog page
### Steps to reproduce it:
<## Describe the steps to reproduce the behavior.-->.
Connect to an advertiser with an invalid country
2. You will see a modal with an appropriate error message.
3. Gre

[2022-10-28 20:27] ivanrios commented on #617
Same issue when the offer code was claimed with another advertiser

![Screen Shot 2022-10-28 at 13 09 47](https://user-images.githubusercontent.com/1007705/198726340-181afc40-be43-41ff-a0ff-e86de0039d2a.png)

The green banner remains when you close the modal.

[2022-10-31 13:11] #616 closed, assigned to budzanowski

[2022-10-31 14:58] #617 closed, assigned to budzanowski

[2022-10-31 19:04] budzanowski opened #621 "Finalise the copy on all ads credit related text items."
After the copy will be finalised make sure that we have up to date version in the plugin.

[2022-10-31 19:06] budzanowski opened #622 "Add version string to ads credit update procedure."
The update procedure that has been added to the plugin for Ads credit work needs to have proper version string added in order to trigger the update code.

- [x] Add the update version.
- [x] finally test the procedure.

[2022-10-31 19:08] budzanowski opened #623 "Merge WooCommerce core PR with the marketing information."
Make sure that the PR https://github.com/Automattic/woocommerce.com/pull/14549 is merged and it correctly delivers the feature.
Create a PR that disables the feature on demand ( when merged )

[2022-11-03 06:22] budzanowski opened #625 "Add back “Pinterest Advertising Services Agreement”."
Add back “Pinterest Advertising Services Agreement” (https://business.pinterest.com/en-us/pinterest-advertising-services-agreement/) back to the end of T&C

New:
![image](https://user-images.githubusercontent.com/17271089/199658617-ae081cb4-4461-46a8-81b4-7f36082d5cfe.png)

Old:
![image](https://user-images.githubusercontent.com/17271089/199658642-c644fd0d-5b13-4db3-9ffc-289c75a0db66.png)

[2022-11-03 07:49] #625 closed, assigned to budzanowski

[2022-11-03 07:52] budzanowski opened #626 "Terms & Condition apply -> Pintereset Terms & Condition apply"
Wherever it says "terms & conditions" apply, we need to make sure it says "Pinterest Terms & Conditions" apply so we have the distinguish between our T&Cs and Woo's.

[2022-11-03 08:42] #626 closed, assigned to budzanowski

[2022-11-03 08:44] budzanowski opened #628 "Add missing FAQ section."
We need to add an FAQ section for the Ads Credits project. I am sure that it was already implemented. For some reason it is not in the code. My bet is that I did not commit the changes or a branch merge has messed something up.

![image](https://user-images.githubusercontent.com/17271089/199678833-1b5cc1c5-b1ef-4a8a-9556-22acfb6c2d4d.png)

[2022-11-03 09:19] #628 closed, assigned to budzanowski

[2022-11-03 14:58] #621 closed, assigned to nobody

[2022-11-04 13:02] #622 closed, assigned to nobody

[2022-11-07 07:51] #623 closed, assigned to nobody

[2022-11-07 16:30] alexiglesias31 commented on #410
Hey @jconroy @adarshakb, an update on this issue.

- https://www.kpop-culture.fr/
   - The plugins seems to be active, since the `p:domain_verify` is present on the head and the API routes are registered.
   - `pinit.js` is also being loaded.
   - Perhaps they disabled the tracking events, since I couldn't see any of the events firing.
- https://raydasher.com/
   - I think they removed the plugin,

[2022-11-09 22:54] dieherbar commented on #604
hi @budzanowski no issues were found between WooCommerce v7.1.0-rc.2, Woocommerce v7.1.0 and Pinterest for WooCommerce v1.2.5
This task can be closed.
cc. @jconroy

[2022-11-10 10:09] #604 closed, assigned to nobody

[2022-11-10 11:03] budzanowski commented on #563
Speeding up generation is not in the scope of this issue. We only want to check how to generate the feed if it needs longer than 24h.

[2022-11-10 11:10] budzanowski commented on #501
Please investigate if the calls are made if the site is claimed by another user. If they are then this will require a solution. If not then we can close this.

[2022-11-10 11:39] budzanowski commented on #362
There is no API, but we can use some hacker magic to detect the plugin (testable directly in console):

[code]

I am moving this ToDo In SAU/CAL - please investigate how this snippet can be used for blocking the additional button and implement blocking if possible.

[2022-11-12 18:33] adarshakb commented on #362
https://chrome.google.com/webstore/detail/pinterest-save-button/**gpdjojdkbbmdfjfahjcgigfpmkopogic**?hl=en this is the extension and the ID I think remains constant. We can check for either /html/save.html or /manifest.json .

[2022-11-13 08:42] budzanowski commented on #362
@adarshakb that is what basically my snippet achieves. This will work on chrome only though. That is OK in the scope of this issue, I think, bc we are only talking about chrome plugin here. Correct?

[2022-11-14 09:47] #446 closed, assigned to JPry

[2022-11-14 15:14] alexiglesias31 commented on #362
There is also a Firefox extension [here](https://addons.mozilla.org/en-US/firefox/addon/pinterest/?utm_source=addons.mozilla.org&utm_medium=referral&utm_content=search).

[2022-11-14 15:53] budzanowski commented on #362
For Firedfox we can't really do anything. The plugins IDs are unique for each browser instances.
The method proposed above should also work for MS Edge if the plugin is installed from the Chrome store.

[2022-11-16 19:21] alexiglesias31 commented on #501
I couldn't reproduce the original issue, [this blocker](https://github.com/woocommerce/pinterest-for-woocommerce/issues/501#issuecomment-1218252720) was added to prevent such cases.
I couldn't see any calls, because the onboarding is blocked if the site is claimed by another user. In any case, I think it worth to double check this before closing the issue.

[2022-11-18 08:24] #594 closed, assigned to nobody

[2022-11-18 15:45] alexiglesias31 commented on #563
Here are some findings after the exploration:
- The new generation doesn't start if the previous generation is still running.
- The feed generation for that specific customer takes around 22h, 2h later the generation starts again, that may lead to an "always generating" perception.
- The problem in that customer site is the following, at some point one of the batch actions fails (throws a timeout

[2022-11-21 11:23] ChristianAF opened #638 "Prices are showing without tax on the feed even if on the shop the prices includes tax"
### Describe the bug:
There are some merchants that show prices including taxes on their sites. but on the feed, the price is without taxes.
For examples:
- Feed:  https://getstamped.co.uk/wp-content/uploads/pinterest-for-woocommerce-WlAhii.xml
- product: https://getstamped.co.uk/product/loyalty-card-stamp/

on the site the price is 10.00 on the feed 8.33

[2022-11-22 11:15] alexiglesias31 commented on #362
@budzanowski, another approach (slightly trickier) is to get the save pin button by the style attribute:

[code]

This approach detects both Chrome and Firefox extensions, but has the drawback that it will be useless if there are any changes to the SVG encoding.

[2022-11-22 12:49] ChristianAF commented on #638
[pinterest-for-woocommerce-1lH34k.xml.zip](https://github.com/woocommerce/pinterest-for-woocommerce/files/10067466/pinterest-for-woocommerce-1lH34k.xml.zip)
another merchant feeds.
http://www.annekatharina.de/shop

[2022-11-22 12:58] ChristianAF commented on #638
https://lilinki.com/wp-content/uploads/pinterest-for-woocommerce-GeY9Q6.xml
Another merchant

[2022-11-23 09:55] alexiglesias31 commented on #521
The issue #417 was to avoid conflict with the tracking events and the suggested actions are to review the conflicting plugins or deactivate Tracking in the settings.
The compatibility issue with RankMath affects the RichPins support. @jconroy should we add a second warning, similar to the warning that we added for the Tracking events, but the actions pointing to RichPins?

[2022-11-25 12:28] ChristianAF commented on #638
https://wordpress.org/support/topic/prices-showing-without-vat/
Another user

[2022-11-28 11:23] budzanowski commented on #521
@alexiglesias31 Yes, we should extend the code from https://github.com/woocommerce/pinterest-for-woocommerce/pull/495 to also detect RichPins and warn about that.

[2022-11-28 11:25] budzanowski commented on #563
That is great.

OK, Please investigate potential solutions. I agree that this is the real problem. Do you think that we should have a UI element that would tell the merchant the generation takes a lot of time because there are a lot of elements?

[2022-11-28 11:31] budzanowski commented on #362
I would just go with the fingerprints approach that I and @adarshakb have provided.

[2022-11-28 11:32] budzanowski commented on #494
@adarshakb ^ ?

[2022-11-28 15:08] alexiglesias31 commented on #563
I was thinking in something like a retry mechanism. Limiting the retries per batch to 3 or 4 to avoid endless generation.
I'm not sure about the UI, the generation time is already displayed in the Catalogs tab and it doesn't seem to be the root of the problem. However, an extra thought from a designer here would be nice.
Instead of the warning for the long generation time I'd display a warning or

[2022-11-28 17:30] ivanrios opened #643 "The feed profile is duplicated after changing the Wordpress language."
### Describe the bug:

Every time a different language is set in the Wordpress settings, a new feed profile is created on Pinterest leaving the original one active.

![Screen Shot 2022-11-28 at 12 19 12](https://user-images.githubusercontent.com/1007705/204341885-a48d7668-2f6e-49d1-a26d-2419f4bc519d.png)

### Steps to reproduce:
1.  Log into your account
2.  Go to Settings -> General
3.  Change si

[2022-11-30 03:42] #510 closed, assigned to alexiglesias31

[2022-11-30 04:11] budzanowski commented on #88
@adarshakb any news?